<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9" style="background-color: #333; height: 5vh;">
            <h3 class="text-left" style="color: white; text-align: left; line-height: 5vh;">
                <span th:text="${currentUser.name}" style="font-weight: bold;"></span>
                <span style="font-weight: lighter;"> with roles: </span>
                <span th:each="role : ${currentUser.roles}" th:text="${role.name.split('_')[1]} + ' '" style="font-weight: lighter;"></span>
            </h3>
        </div>
        <div class="col-md-3" style="background-color: #333; text-align: right; height: 5vh; display: flex; align-items: center; justify-content: flex-end;">
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-transparent" style="margin: 0; padding: 0; border: none; background-color: transparent;">
                    <span style="color: gray;">Logout</span>
                </button>
            </form>
        </div>
    </div>

    <div class="row">

        <div class="col-md-2" style="background-color: white; height: 95vh; padding-top: 20px">
            <ul class="nav flex-column nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/currentAdminUser">User</a>
                </li>
            </ul>
        </div>

        <div class="col-md-10" style="background-color: #f0f0f0; height: 95vh; padding-top: 20px">
            <h1>
                Admin panel
            </h1>

            <div class="card-body" style="padding-left: 8px; margin-bottom: -6px;">

                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/admin/newUser">New User</a>
                    </li>
                </ul>

            </div>

            <div class="card">

                <h5 class="card-header">Add new user</h5>

                <div class="card-body text-center">
                    <form th:method="POST" th:action="@{/admin}" th:object="${newuser}" class="col-md-6 offset-md-4">
                        <div class="form-group col-md-7">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" th:field="*{name}" id="name" th:placeholder="Name">
                        </div>

                        <div class="form-group col-md-7">
                            <label for="lastName">Last name</label>
                            <input type="text" class="form-control" th:field="*{lastName}" id="lastName" th:placeholder="'Last name'">
                        </div>

                        <div class="form-group col-md-7">
                            <label for="age">Age</label>
                            <input type="number" class="form-control" th:field="*{age}" id="age" min="0" th:placeholder="Age" oninput="validity.valid||(value='');">
                        </div>

                        <div class="form-group col-md-7">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" th:field="*{password}" id="password" th:placeholder="Password">
                        </div>

                        <div class="form-group col-md-7">
                            <label for="roles">Roles</label>
                            <select class="form-control" style="max-height: 60px;" th:field="*{roles}" id="roles" multiple>
                                <option th:each="role : ${allRoles}" th:value="${role.id}" th:text="${role.name.split('_')[1]} + ' '"></option>
                            </select>
                        </div>


                        <div class="form-group col-md-7">
                            <button type="submit" class="btn btn-success">Add new user</button>
                        </div>
                    </form>
                </div>

            </div>

        </div>

    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

