<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>newUser</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin}" th:object="${newuser}">
    <label for="name">Enter your name: </label>
    <input type="text" th:field="*{name}" id="name">

    <br/>

    <label for="lastName">Enter your lastname: </label>
    <input type="text" th:field="*{lastName}" id="lastName">

    <br/>

    <label for="age">Enter your age: </label>
    <input type="text" th:field="*{age}" id="age">

    <br/>

    <label for="password">Enter your password: </label>
    <input type="password" th:field="*{password}" id="password">

    <br/>

    <input type="submit" value="Add">
</form>

<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>

</body>
</html>